# Ignore pycache
**/__pycache__

# Ignore virtual environment
/_venv

# Outputs
output
networks/**/output
networks/**/net.net.xml
networks/**/routes.xml
networks/**/new_edges.edg.xml
networks/**/new_nodes.nod.xml
networks/**/vTypes.add.xml
networks/**/output.add.xml
networks/**/stations.add.xml
#results/*/_cache
#results_BACKUP/*/_cache
**/_cache

# Big networks
networks/Zagreb/*.osm
networks/Zagreb/*.net.xml

_helpinfo

Diplomski_rad_predlozak_travanj_2020.doc
zad_hr_0036542234_94.pdf

_other

*.tmp
~$*.docx