<config>
	<group name="prep">
		<param name="preprocess" type="bool" default="True">
			True
		</param>
		<param name="recreateNetwork" type="bool" default="False">
			False
		</param>
		<param name="saveInputs" type="bool" default="False">
			False
		</param>
	</group>
	<group name="sim">
		<param name="stepLength" type="float" default="0.1">
			0.1
		</param>
		<param name="maxDuration" type="int" default="0">
			0
		</param>
		<param name="vehicleCount" type="int" default="100">
			10
		</param>
		<!-- [-inf, -0.0]: percent of network radius; [0.0, inf] absolute value in meters -->
		<param name="minDistance" type="float" default="-0.5">
			-0.5
		</param>
		<!-- [-inf, -0.0]: percent of network radius; [0.0, inf] absolute value in meters -->
		<param name="maxDistance" type="float" default="-2.0">
			-2.0
		</param>
		<param name="saveLog" type="bool" default="True">
			False
		</param>
		<param name="visualize" type="bool" default="False">
			False
		</param>
		<param name="frameDur" type="float" default="0.01">
			0.01
		</param>
		<param name="printResults" type="bool" default="False">
			False
		</param>
	</group>
	<group name="electric">
		<param name="penetration" type="float" default="1.0">
			1.0
		</param>
		<param name="needToChargeProb" type="float" default="1.0">
			1.0
		</param>
		<param name="batteryEmptyThreshold" type="float" default="2.0">
			2.0
		</param>
		<param name="manualChargeDecide" type="bool" default="True">
			True
		</param>
	</group>
	<group name="station">
		<param name="k" type="int" default="5">
			3
		</param>
		<param name="capacity" type="int" default="10">
			10
		</param>
		<param name="waitQueue" type="int" default="10">
			10
		</param>
		<param name="fillReverse" type="bool" default="True">
			True
		</param>
		<param name="moneyPerKWH" type="float" default="0.25"> <!-- euro -->
			0.25
			<param name="red" type="float" default="0.35">
				0.35
			</param>
			<param name="blue" type="float" default="0.25">
				0.25
			</param>
		</param>
	</group>
	<group name="training">
		<param name="iterations" type="int" default="10000">
			400
		</param>
		<param name="progressDebugs" type="int" default="10">
			400
		</param>
		<param name="printProgress" type="bool" default="True">
			False
		</param>
		<param name="writeProgress" type="bool" default="True">
			True
		</param>
		<param name="drawProgress" type="bool" default="True">
			True
		</param>
		<param name="measureTime" type="bool" default="False">
			True
		</param>
	</group>
	<group name="reward">
		<!-- [0, 1] -->
		<param name="coverage" type="float" default="2.0">
			2.0
			<param name="monitor" type="bool" default="True">
				True
			</param>
		</param>
		<!-- [0, 1] -->
		<param name="charge" type="float" default="1.5">
			1.5
			<param name="monitor" type="bool" default="True">
				True
			</param>
		</param>
		<!-- [-1, 0] | -1.5 if not completed -->
		<param name="simDuration" type="float" default="1.0">
			1.0
			<param name="monitor" type="bool" default="True">
				True
			</param>
		</param>
		<!-- [?, ?] -->
		<param name="tripDuration" type="float" default="0.0">
			0.0
			<param name="monitor" type="bool" default="True">
				True
			</param>
		</param>
		<!-- [0, inf] (/ (average_trip_length * 2)) -->
		<param name="tripLength" type="float" default="0.0">
			0.0
			<param name="monitor" type="bool" default="True">
				True
			</param>
		</param>
		<!-- [?, ?] -->
		<param name="waitTime" type="float" default="0.0">
			0.0
			<param name="monitor" type="bool" default="True">
				True
			</param>
		</param>
		<!-- [?, ?] -->
		<param name="stopTime" type="float" default="0.0">
			0.0
			<param name="monitor" type="bool" default="True">
				True
			</param>
		</param>
		<!-- [?, ?] -->
		<param name="timeLoss" type="float" default="0.0">
			0.0
			<param name="monitor" type="bool" default="True">
				True
			</param>
		</param>
		<!-- [?, ?] -->
		<param name="energyConsumed" type="float" default="0.0">
			0.0
			<param name="monitor" type="bool" default="True">
				True
			</param>
		</param>
	</group>
</config>